@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Heebo',sans-serif;
}

a{
    text-decoration: none;
    color: #000;
}
main{
    width: 856px;
    margin: auto;
}
header{
    font-weight: 500;
    font-size: 20px;
    width: 1032px;
    line-height: 29px;
    text-align: right;
    margin: 27px auto 140px auto;

}
header ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}
header li {
    margin-left: 33px;
}
.about-me{
    display: flex;
}

.about-me img {
    width: 243px;
    height: 243px;
    border-radius: 50%;
    margin-left: 112px;
    box-shadow: -5px 13px #EDF7FA;
}
.about-me a{
    display: inline-block;
    font-weight: 500;
    font-size: 20px;
    background-color: #FF6464;
    color: #FFF;
    padding:12px 20px;
    border-radius: 2px;
    transition: all 0.3s ease;
}
.about-me a:hover{
    background-color: #E64545;
}
.about-me p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    margin-bottom: 40px;
}
.about-me h1{
    font-weight: 700;
    font-size: 46px;
    line-height: 136%;
    color: #21243D;
    margin-bottom: 40px;
}

@media screen and (max-width: 480px) {
    header{
        margin-bottom: 48px;
    }
    main{
        width: 100vw;
    }
    header ul{

        width: 100vw;
        display: flex;
        justify-content: space-evenly;
    }
    .about-me {
        align-items: center;
        text-align: center;
        margin: auto;
        flex-direction: column-reverse;
    }
    .about-me__content{
        margin: 0 24px;
    }
    .about-me img{
        margin: 0px;
        margin-bottom: 43px;
        width: 170px;
        height: 170px;
    }
    .about-me h1{
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 20px;
    }
    .about-me p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 27px;
    }
}